In [ ]:
# External Shell 
import pandas as pd
from scipy.interpolate import griddata

fr = pd.read_csv("EXT.csv")
y = fr['Y1']
z = fr['Z1']
v = fr['V1']

# y1s = [0.8,1.732,2.598,3.464,4.33,5.196,7.106,7.856] + [7.856]*18 + [0.8,1.732,2.598,3.464,4.33,5.196,7.106,7.856]
# y1s = [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6.0] + [6.0]*18 + [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6]
# y1s = [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6.0] + [6.0]*14 + [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6] # FR#7 + 2000
# y1s = [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6.0] + [6.0]*13 + [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6] # FR#9
y1s = [2.1,3.0,3.75,4.5,5.25,6.0] + [6.0]*13 + [2.1,3.0,3.75,4.5,5.25,6] # FR#11
# z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4, 9.1, 9.8, 10.5, 11.2, 11.9] + [11.9]*8
# z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.75, 8.45, 9.15] + [9.15]*8   # FR#7 + 200
# z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4] + [8.4]*8   # FR#9
z1s = [0]*6 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4] + [8.4]*6   # FR#11

v1 = [0]*len(z1s)
print(len(y1s))
print(len(z1s))
print(len(v1))

for i, y1 in enumerate(y1s):
     z1 = z1s[i]
     v1[i] = griddata((y, z), v, (y1, z1), method='cubic')

df = pd.DataFrame(v1)

df.to_csv("result_ext.csv")

df

25
25
25

               0
0   1.600000e-12
1   2.882955e+01
2   5.206002e+01
3   7.567124e+01
4   9.898126e+01
5   1.100000e+02
6   1.100000e+02
7   1.300000e+02
8   1.400000e+02
9   1.500000e+02
10  1.500000e+02
11  1.600000e+02
12  1.600000e+02
13  1.600000e+02
14  1.500000e+02
15  1.400000e+02
16  1.300000e+02
17  1.200000e+02
18  1.100000e+02
19  5.301098e-13
20  1.500001e+01
21  4.100000e+01
22  6.400000e+01
23  8.700000e+01
24  1.100000e+02

In [17]:
# Longi'l Bulkhead
import pandas as pd
from scipy.interpolate import griddata
from scipy.interpolate import  interp1d

fr = pd.read_csv("LBD.csv")
y = fr['Y1']
z = fr['Z1']
v = fr['V1']

lbd = interp1d(z, v, kind='cubic')

z1s = [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4]

y1s = [0]*len(z1s)

v1 = [0]*len(z1s)
for i, z1 in enumerate(z1s):
      z1 = z1s[i]
      v1[i] = lbd(z1)
      # print(v1)
     # v1[i] = griddata((x, y), v, (y1, z1), method='cubic')

df = pd.DataFrame(v1)

df.to_csv("result_lbhd.csv")

df

             0
0  -102.900000
1  -113.600000
2  -122.400000
3  -132.600002
4  -139.400001
5  -143.800001
6  -145.800000
7  -145.500000
8  -142.900000
9  -138.000000
10 -130.699999
11 -121.000000
12 -109.000000