In [14]:
# External
import pandas as pd
from scipy.interpolate import griddata

fr = pd.read_csv("EXT.csv")
x = fr['Y1']
y = fr['Z1']
v = fr['V1']

y1s = [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6.0] + [6.0]*18 + [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6.0]
z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4, 9.1, 9.8, 10.5, 11.2, 11.9] + [11.9]*8

print(len(y1s))
print(len(z1s))

v1 = [0]*34
for i, y1 in enumerate(y1s):
     z1 = z1s[i]
     v1[i] = griddata((x, y), v, (y1, z1), method='cubic')

df = pd.DataFrame(v1)

df.to_csv("result_ext.csv")

df

34
34

       0
0  -13.5
1   -6.4
2    0.6
3    7.6
4   14.7
5   21.7
6   28.8
7   33.3
8   33.3
9   39.1
10  44.2
11  48.6
12  52.0
13  54.7
14  56.7
15  58.1
16  59.2
17  59.2
18  58.7
19  57.4
20  55.6
21  53.0
22  49.9
23  46.1
24  32.3
25  28.6
26 -12.6
27  -6.7
28  -0.8
29   5.1
30  10.9
31  16.8
32  22.7
33  28.6

In [ ]:
# Longi'l Bulkhead
import pandas as pd
from scipy.interpolate import griddata
from scipy.interpolate import  interp1d

fr = pd.read_csv("LBD.csv")
y = fr['Y1']
z = fr['Z1']
v = fr['V1']

lbd = interp1d(z, v, kind='cubic')
y1s = [0.8]*18

z1s = [0.0,
0.7,
1.4,
2.1,
2.8,
3.5,
4.2,
4.9,
5.6,
6.3,
7.0,
7.7,
8.4,
9.1,
9.8,
10.5,
11.2,
11.9
]

v1 = [0]*18
for i, z1 in enumerate(z1s):
      z1 = z1s[i]
      v1[i] = lbd(z1)
      # print(v1)
     # v1[i] = griddata((x, y), v, (y1, z1), method='cubic')

df = pd.DataFrame(v1)

df.to_csv("result_lbhd.csv")

df

            0
0  -37.993000
1  -41.658000
2  -46.625000
3  -50.557995
4  -52.085096
5  -53.748583
6  -55.375032
7  -56.791016
8  -57.823108
9  -58.302123
10 -58.156366
11 -57.411633
12 -56.097964
13 -54.245393
14 -51.883957
15 -49.213000
16 -44.722000
17 -39.554000

: