In [7]:
# External Shell 
import pandas as pd
from scipy.interpolate import griddata

fr = pd.read_csv("EXT.csv")
y = fr['Y1']
z = fr['Z1']
v = fr['V1']

# y1s = [0.8,1.732,2.598,3.464,4.33,5.196,7.106,7.856] + [7.856]*18 + [0.8,1.732,2.598,3.464,4.33,5.196,7.106,7.856]
y1s = [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6.0] + [6.0]*13 + [0.75,1.5,2.25,3.0,3.75,4.5,5.25,6]
# y1s = [2.3,3,3.75,4.5,5.25,6.0] + [6.0]*13 + [2.3,3,3.75,4.5,5.25,6.0]
#z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.4, 8.1, 8.8, 9.5, 10.2, 10.9] + [11.9]*8
#z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.8, 8.5, 9.2,9.9] + [9.9]*8
#z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.05, 7.75, 8.45, 9.15] + [9.15]*8

z1s = [0]*8 + [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4] + [8.4]*8

# # print(griddata((y, z), v, (6, 10.9), method='cubic'))

v1 = [0]*len(z1s)

for i, y1 in enumerate(y1s):
     z1 = z1s[i]
     v1[i] = griddata((y, z), v, (y1, z1), method='cubic')


df = pd.DataFrame(v1)

df.to_csv("result_ext.csv")

df

             0
0   -45.182725
1   -26.262277
2    -7.341829
3     9.386047
4    26.591719
5    43.797386
6    61.003051
7    77.628121
8    77.628121
9    90.284812
10  100.506012
11  108.291724
12  148.165983
13  151.252403
14  151.697740
15  149.501994
16  141.010233
17  133.532319
18  123.413315
19   85.999423
20   76.020146
21  -41.129703
22  -24.394011
23   -7.658318
24    9.077374
25   25.813068
26   42.548760
27   59.284453
28   76.020146

In [4]:
# Longi'l Bulkhead
import pandas as pd
from scipy.interpolate import griddata
from scipy.interpolate import  interp1d

fr = pd.read_csv("LBD.csv")
y = fr['Y1']
z = fr['Z1']
v = fr['V1']

lbd = interp1d(z, v, kind='cubic')
# FR#4 - 16

# z1s = [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.8, 8.5, 9.2,9.9]
# z1s = [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.05, 7.75, 8.45, 9.15] 
z1s = [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4] 
y1s = [0]*len(z1s)

v1 = [0]*len(z1s)
for i, z1 in enumerate(z1s):
      z1 = z1s[i]
      v1[i] = lbd(z1)
      # print(v1)
     # v1[i] = griddata((x, y), v, (y1, z1), method='cubic')

df = pd.DataFrame(v1)

df.to_csv("result_lbhd.csv")

df

             0
0  -111.112167
1  -120.510534
2  -128.147298
3  -136.675812
4  -142.073631
5  -145.256861
6  -146.225503
7  -144.979557
8  -141.519024
9  -135.843902
10 -127.954193
11 -117.849895
12 -105.531009

In [37]:
z1s = [0.0, 0.7, 1.4, 2.1, 2.8, 3.5, 4.2, 4.9, 5.6, 6.3, 7.0, 7.7, 8.4]
len(z1s)

13